<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 이메일 셋팅 -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	
	 	<!-- Gmail 서비스 -->
	 	<property name="host" value="smtp.gmail.com" />
		<property name="port" value="465" />
		<property name="username" value="help.newshare@gmail.com" />
		<property name="password" value="chlqkrqkrdl" />
		<property name="protocol" value="smtps" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>
</beans>
